
/Hurrican/Debug
/Hurrican/Release
/Hurrican/Hurrican.ncb
/Hurrican/Hurrican.suo
/Hurrican/Hurrican.hsl
/Hurrican/Hurrican.sdf
/Hurrican/ipch
/Hurrican/Game_Log.txt
/Hurrican/Hurrican.opensdf
/Editor/Debug
/Editor/ipch
/Editor/Release
/Editor/Editor.sdf
/Editor/Editor.suo
/Editor/Logdatei.txt